.userProfile {
  border: 4mm ridge rgba(211, 220, 50, 0.6);
  border-radius: 10%;
}
.userCard {
}
.info {
  padding: 5px 0;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  border-top: 1mm solid grey;
}
.item {
  display: flex;
  flex-direction: column;
}
