.table,
th,
td {
  border: 1px solid;
}
.table {
  margin: 50px 0;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
tr:nth-child(even) {
  background-color: grey;
}
th {
  background-color: black;
  color: white;
}
